[submodule "ModernStringFormat"]
	path = ModernStringFormat
	url = https://github.com/kudaba/ModernStringFormat
[submodule "simpletest"]
	path = simpletest
	url = https://github.com/kudaba/simpletest
[submodule "bin/Sharpmake"]
	path = bin/Sharpmake
	url = https://github.com/kudaba/SharpmakeArtifacts
